// Sat Feb  8 23:51:16 CST 2014

a.ext-link
  background-size 14px 14px

a.dictionarycom
  background-image: url('chrome-extension://__MSG_@@extension_id__/dictionary.ico');
a.youdao
  background-image: url('chrome-extension://__MSG_@@extension_id__/youdao.ico');
a.etymology
  background-image: url('chrome-extension://__MSG_@@extension_id__/etymonline.png');
a.googleimages
  background-image: url('chrome-extension://__MSG_@@extension_id__/google.ico');
